[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/php"]
	path = bundle/php
	url = git://github.com/vim-scripts/php.vim--Hodge.git
[submodule "bundle/JavaScript-Indent"]
	path = bundle/JavaScript-Indent
	url = git://github.com/vim-scripts/JavaScript-Indent.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git@github.com:wincent/Command-T
