[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/php"]
	path = bundle/php
	url = git://github.com/vim-scripts/php.vim--Hodge.git
[submodule "bundle/json"]
	path = bundle/json
	url = git://github.com/leshill/vim-json.git
[submodule "JavaScript-Indent"]
	path = JavaScript-Indent
	url = git://github.com/vim-scripts/JavaScript-Indent.git
[submodule "bundle/htmlspecialchars"]
	path = bundle/htmlspecialchars
	url = git://github.com/usualoma/vim-htmlspecialchars.git
